<div class="intro">
    <h2 class="header center">Rapper Ad-lib Quiz</h2>
    <img ng-src="{{image}}" class="intro-image center" ngfx-default="show" ngfx-speed="slow"  ngfx-bounce-in-left="change" ngfx-bounce-out-right="!change" />
    <p class="description">
        <strong>Ad-lib</strong>
        <br /> 1.Short for ad libitum. Means spontaneously, without prior practice or just unrestrained. Often refers to artists improvising, also known as "ad libbing", in other words playing from the top of their heads.
    </p>
    <button class="button button-outline" ng-click="getStarted();">
        Get Started!
    </button>
</div>

