<div class="intro">
    <h2 class="header center">Rapper Ad-lib Quiz</h2>
    <img ng-src="{{image}}" class="intro-image center" ngfx-default="show" ngfx-speed="slow"  ngfx-bounce-in-left="change" ngfx-bounce-out-right="!change" />
    <p class="description"><strong>Rap Quiz:</strong><br />In this quiz app, you’ll hear a short ad-lib from a famous rapper for just 1-3 seconds. After that you’ll get the options to identify the rapper. Do it fast though because you’ll have a deadline!</p>
    <button class="button button-outline" ng-click="getStarted();">
        Get Started!
    </button>
</div>

